.main-projects {
    font-family:
        "Spoqa Han Sans Neo",
        "SUIT",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
    color: #1d1d1f;
    font-size: 18px;

    .section-hero {
        height: calc(100svh - 44px - 64px); // globalnav(44) + localnav(64)
        padding: 64px 0 96px;
        display: flex;
        flex-direction: column;

        .hero-marquee {
            font-size: 24px;
            font-weight: 700;
            line-height: 1em;
            padding-bottom: 12px;
        }

        .hero-headline {
            background: #1d1d1f;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            font-size: 36px;
            font-weight: 700;
            line-height: 1em;
            padding-bottom: 12px;
        }

        .hero-violator {
            font-size: 24px;
            font-weight: 500;
            line-height: 1em;
            color: #66666f;
            padding-bottom: 24px;
        }

        .button-elevated {
            border-radius: 8px;
            background: #1d1d1f;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            font-size: 18px;
            font-weight: 500;
            line-height: 1em;
            color: #fff;
            padding: 0 24px;
        }
    }

    .section-highlight {
        background: #f2f2f7;
        padding: 96px 0;

        .typography-highlight {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4em;
            padding-bottom: 36px;
        }
    }

    .snapshot {
        dl {
            font-size: 18px;
            line-height: 1.4em;

            div {
                display: flex;
                align-items: center;
                gap: 16px;
                padding-bottom: 8px;

                &:last-child {
                    padding-bottom: 0;
                }

                dt {
                    min-width: 112px;
                    font-weight: 700;
                }

                dd {
                    flex: 1;
                    font-weight: 400;
                }
            }
        }
    }

    .section-projects-overview {
        padding: 96px 0;
    }

    .section-projects-background {
        background: #f2f2f7;
        padding: 96px 0;
    }
}
